<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuanLyKhoFashion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="QuanLyKhoFashion.Properties.Settings.fashionwhConnectionString"
            connectionString="Data Source=10.7.23.8;Initial Catalog=fashionwh;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <QuanLyKhoFashion.Properties.Settings>
            <setting name="connectString" serializeAs="String">
                <value>Data Source=14.177.233.69,6688;Initial Catalog=fashionwh</value>
            </setting>
        </QuanLyKhoFashion.Properties.Settings>
    </userSettings>
</configuration>